#projets .projet {
  height: 350px; /* Fixe la hauteur des cases */
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--white);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#projets .projet:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

#projets .projet .projet-image {
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

#projets .projet:hover .projet-image {
  opacity: 1;
}

#projets .projet .content {
  z-index: 2;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
}

#projets .projet:hover .content {
  opacity: 0;
}

#projets .numero {
  color: var(--white);
  background-color: var(--black);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
}

#projets .type {
  font-size: 0.9rem;
}
  
#projet_num1:hover {
  background-image: url('../img/orthoapparat.png');
}
#projet_num2:hover {
  background-image: url('../img/jeudelavie.gif');
}

#projet_num3:hover {
  background-image: url('../img/trellotrolle.png');
}

#projet_num1:hover h3, #projet_num1:hover p:not(.numero):not(.type){
  opacity: 0;
}
#projet_num2:hover h3, #projet_num2:hover p:not(.numero):not(.type){
  opacity: 0;
}
#projet_num3:hover h3, #projet_num3:hover p:not(.numero):not(.type){
  opacity: 0;
}
#projet_num2:hover>div>.type{
  background-color: var(--white);
  border: 1px solid var(--black);
}
#projet_num3:hover>div>.type{
  border: 1px solid var(--black);
}
