<hr largeur="100%"/>
<footer class="bg-dark text-center text-white py-4">
  <div>
      <h2 class="text-primary">Portfolio de Mathys CAPO</h2>
  </div>
  <div id="imagesFooter" class="d-flex justify-content-center align-items-center mt-3 gap-4">
      <a href="https://www.linkedin.com/in/mathyscapo/" target="_blank" class="text-primary fs-3">
          <i class="bi bi-linkedin"></i>
      </a>
      <a href="mailto:mathys.capo@etu.umontpellier.fr" class="text-primary fs-3">
          <i class="bi bi-envelope-fill"></i>
      </a>
      <a href="https://gitlabinfo.iutmontp.univ-montp2.fr/capom" target="_blank" class="text-primary fs-3">
          <i class="bi bi-github"></i>
      </a>
  </div>
</footer>

  
<div id="endpage"></div>



</html>


