<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../ressources/css/styles.css">
        

        <title>{{page.title}}</title>
        <link rel="icon" href="../ressources/img/logo.png" />

        <script src="../ressources/js/anime.js/anime.min.js"></script>

        <script src="../ressources/js/page.js"></script>

        
        
    </head>
    
    {% include navigation.html %}

    <div class="wave">
        <img src="../ressources/img/bg-wave/wave1.png" id="wave1"/>
        <img src="../ressources/img/bg-wave/wave2.png" id="wave2"/>
        <img src="../ressources/img/bg-wave/wave3.png" id="wave3"/>
        <img src="../ressources/img/bg-wave/wave4.png" id="wave4"/>
    </div>

    <div id="scrollbar"></div>

       