
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{page.title}}</title>
    <link rel="icon" href="../ressources/img/logo.png" />

    <script src="../ressources/js/anime.js/anime.min.js"></script>
    <script src="../ressources/js/compiled/parallax.min.js"></script>

    <link rel="stylesheet" href="../ressources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../ressources/bootstrap-icons/bootstrap-icons.min.css">
    <script src="../ressources/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../ressources/css/main.css">

    <script src="../ressources/js/index.js" defer></script>

    <script type="importmap">
    {
    "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.158.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.158.0/examples/jsm/"
    }
    }
    </script>
</head>
    


       