<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../ressources/img/logo.png" alt="Logo" style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% for page in site.data.navigation.pages %}
                    <li class="nav-item">
                        <button onclick='window.location.href = "{{ page.url }}"' class="btn btn-outline-primary rounded-pill nav-link text-white">{{ page.title }}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    