---
layout: layout_basic
permalink: /competencesBUT/
title: Mes compétences liées au BUT
---
<script src="../ressources/js/index.js"></script>
<link rel="stylesheet" href="../../ressources/css/competencesBUT.css"> 

<body>
    <section class="competences pt-5">
        <div class="container pt-5">
            <h2 class="section-title text-center text-primary mb-5">Compétences</h2>

            {% for competenceBUT in site.data.competencesBUT.competencesBUT %}
                <div class="mb-5">
                    <h3 class="text-secondary">{{competenceBUT.titre}}</h3>
                    <div class="row mt-4">
                        {% for competences in competenceBUT.competences %}
                        <div class="col-md-4">
                            <div class="card h-100 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{competences.nom}}</h5>
                                    <p class="card-text">{{competences.texte}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    
</body>