---
layout: layout_basic
permalink: /projets/
title: Mes travaux
no_center: true
---

<link rel="stylesheet" href="../ressources/css/pages/projets.css">

<section class="content_general pt-5">
    <h2 class="section-title text-center mb-5 pt-5">Mes Projets</h2>

    <div class="projets container">
        {% for projet in site.data.projects.array %}
            <article class="projet-item" id="{{projet.id}}">
                <h3 class="projet-title">{{projet.titre}}</h3>

                <div class="row align-items-center g-4">
                    <div class="col-md-5 {% if projet.position %}order-md-last{% endif %}">
                        <img class="projets_img" src="{{projet.url}}" alt="{{projet.titre}}">
                    </div>

                    <div class="col-md-7">
                        <div class="projet-description">
                            {% for descr in projet.description %}
                                <p>{{descr}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</section>

<script type="module">
import { CookieManager } from "../ressources/js/cookieManager.js";
import { Success } from "../ressources/js/success.js";

Success.trackPage("projets");

</script>